<div class="container" style="margin:50px auto">
    <div clas="row">
        <div class="col-6 offset-3">
            <h4>Modificar la novedad </h4>


            <form action="/admin/novedades/modificar" method="post" 
            enctype="multipart/form-data">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3 row">
                    <label for="" style="color: rgb(161, 85, 9) ">Titulo </label>
                    <input type="text" class="form-control" name="titulo" value="{{novedad.titulo}}">

                </div>

                <div class="mb-3 row">
                    <label for="" style="color: rgb(161, 85, 9) ">Subtitulo</label>
                    <input type="text" class="form-control" name="subtitulo" value="{{novedad.subtitulo}}">
                </div>

                <div class="mb-3 row">
                    <p>
                        <label style="color: rgb(161, 85, 9) ">Imagen:
                            <input type="file" class="form-control" name="imagen" id="imagen" /></label>
                    </p>

                    <p>
                        <label style="color: rgb(161, 85, 9) "> <input type="checkbox" name="img_delete" id="img_delete"
                                value="1" /> <i class="fa fa-trash" aria-hidden="true"></i>Eliminar imagen
                            actual ? </label>
                        <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                    </p>
                </div>

                <div class="mb-3 row">
                    <label for="" style="color: rgb(161, 85, 9) ">Cuerpo</label>
                    <textarea name="cuerpo" class="form-control">{{novedad.cuerpo}}</textarea>

                </div>
                <button type="submit" class="btn btn-primary" style="background-color: sandybrown;">Modificar</button>
            </form>

            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>